body{
    background: #eedcb3;
}
.title{
    font-size: 3em;
    color: #331200;
}
.fream_title{
    height: 4em;
    width: max-content;
    text-align: center;
    margin: auto;
}
*{
    padding: 0;
    margin: 0;
}
.samp1{
    height: 15vh;
}